<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyf.mapper.exportExcelHeBing.ExportExcelMergeMapper">

    <select id="exportExcelMerge" resultType="com.lyf.entity.exportExcelHeBing.ExportExcelMergeDto">
        SELECT
			d.dept_name,
			l.assess_index_id index_id,
			c.rel_name index_name,
			l.index_score,
			c.index_score_prov,
		  x.one_level
		FROM
			sys_dept d
			LEFT JOIN ioc_calc_score_index l ON d.dept_code = l.dept_code
			left join ioc_assess_system_index x on l.assess_index_id = x.assess_index_id
			LEFT JOIN ( SELECT * FROM ioc_calc_weight_package_index WHERE rel_type = "indexName" ) c ON c.rel_id = l.assess_index_id
		WHERE
			d.area_code = 620000000000
			AND index_weight_package_id = #{weightPackageId}
			and x.one_level = #{oneLevelId}

    </select>





	<select id="getOneLevel" resultType="com.lyf.entity.exportExcelHeBing.IndexDto">
		SELECT l.rel_id index_id,l.rel_name index_name FROM ioc_calc_weight_package_index l
		WHERE l.rel_type = "oneLevel"
	     and l.weight_package_id = #{weightPackageId}
	</select>
</mapper>
